/** Base Styles */
:root {
  /**
   * Colors
   * --------------------------------------------------------------------- */
  /*----------------------- Rengoku colors */
  --rengoku: #e1a308;
  --rengoku-alt: #c1221c;
  --rengoku-alt-light: #ffbbb9;
  --rengoku-light: #f2b211;
  --rengoku-bg: #f8f8f8;

  --c-white: #ffffff;
  --c-white-dark: #f8f8f8;
  --c-black: #000000;

  --c-divider-light: rgba(60, 60, 67, 0.12);
  --c-divider-dark: rgba(84, 84, 88, 0.48);

  --c-text-light-1: #2c3e50;
  --c-text-light-2: #476582;
  --c-text-light-3: #90a4b7;

  --c-brand: var(--rengoku);
  --c-brand-light: var(--rengoku-light);
}
