@tailwind base;
@tailwind components;
@tailwind utilities;

p img {
  margin: 0px auto;
}

.prose hr {
  border-top: 1px solid #e5e7eb;
}

@layer utilities {
  .link {
    color: var(--vp-c-text-1);
    border-color: var(--vp-c-text-1);
    @apply transition-all duration-200 ease-in-out border-b font-semibold  hover:border-b-[2px];
  }

  .text-brand-1 {
    color: var(--vp-c-text-1);
  }

  .text-brand-2 {
    color: var(--vp-c-text-2);
  }

  .text-brand-3 {
    color: var(--vp-c-text-3);
  }
}
